# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish Package

on:
  workflow_run:
    workflows: [ci]
    types:
      - completed
    branches: [main, master, dev]
  release:
    types: [published]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write # allow GITHUB_TOKEN to publish packages
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 8.6.12

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint

      - name: Run tests and collect coverage
        run: pnpm run test::coverage

      - name: Build
        run: pnpm run build

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Use Branch Name
        run: echo ${{steps.extract_branch.outputs.branch}}

      - name: Set Tag
        id: set_tag
        run: |
          if [[ "${{ steps.extract_branch.outputs.branch }}" == "master" || "${{ steps.extract_branch.outputs.branch }}" == "main" ]]; then
            echo "::set-output name=tag::latest"
          else
            echo "::set-output name=tag::dev"
          fi

      - name: Use Tag
        run: echo ${{ steps.set_tag.outputs.tag }}

      - name: Publish Package to NPM
        uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{secrets.npm_token}}
          provenance: true
          tag: ${{steps.extract_branch.outputs.tag}}
